block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title=metadata.data.title
    meta(name="description" content=metadata.data.description)

    //- favicons for every device
    //- link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    //- link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    //- link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    //- link(rel="manifest" href="/site.webmanifest")
    //- link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff3a00")

    meta(property="og:type" content="website")
    meta(property="og:title" content=metadata.data.title)
    meta(property="og:description" content=metadata.data.description)
    meta(property="og:image" content=metadata.data.image ? metadata.data.image.url : '')

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=metadata.data.title)
    meta(name="twitter:description" content=metadata.data.description)
    meta(name="twitter:image" content=metadata.data.image ? metadata.data.image.url : '')

    //- css
    link(href="main.css" rel="stylesheet")

  body
    include ./partials/preloader
    include ./partials/navigation

    .content#content(data-template=template)
      block content

    script(src="main.js")
